@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (min-width: 481px) {
  main,
  .background-burger {
    background-color: rgba(0, 0, 0, 0.68);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../public/images/assets/burger.png);
    background-blend-mode: color-dodge;
  }
}

@media screen and (max-width: 480px) {
  main,
  .background-burger {
    background-color: rgba(0, 0, 0, 0.68);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../public/images/assets/bg-hamburger.png);
    background-blend-mode: color-dodge;
  }
}
